body {
    margin: 0;
}
header, footer{
    text-align: center;
    height: 120px;
    background-color: blue;
}
h2 {
    font-size: 28px;
    margin-top: 40px;
}
.player{
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 10px;
    padding: 4px;
}
.logo {
    height: 100%;
    visibility: hidden;
}
.game-square{
    width: 10vh;
    height: 10vh;
    background-color: yellow;
    margin: 3px;
    border-radius: 15px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.game-container {
    width: 80%;
    flex-direction: row;
    justify-content: center;
    margin: 8px auto;
    display: none;
}
.game-info{
    width: 20vw;
    min-width: 150px;
    background-color: #a4afc1;
    border-radius: 15px;
    visibility: hidden;
}
.game-selection{
    display: flex;
    justify-content: center;
    align-content: center;
}
.game {
    width: 40vw;
    height: 100%;
    margin: 0 auto;
}
.select-connect4 {
    width: 40vw;
    height: 100%;
    margin: auto 0;
}
.simon-div{
    height: 30vh;
    width: 30vh;
}
.simon-green{
    border-top-left-radius: 60vh;
}
.simon-red{
    border-top-right-radius: 60vh;
}
.simon-yellow{
    border-bottom-left-radius: 60vh;
}
.simon-blue{
    border-bottom-right-radius: 60vh;
}
.master-simon{
    height: 60vh;
    width: 60vh;
    border: 5px solid black;
    border-radius: 60vh;
    display:flex;
}
.reset-button {
    font-size: 24px;
    text-align: center;
    width: 45%;
    background-color: #34A853;
    margin: 0 auto;
    border-radius: 15px;
    border: 3px solid #13772e;
}

.reset-button:hover{
    background-color: #47c168;
    border: 3px solid #34A853;
}
#game-board {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #a4afc1;
    border-radius: 15px;
    padding: 4px;
    visibility: hidden;
}

@media screen and (max-width: 500px){
    header, footer{
        background-color: red;
        height: 15vh;
    }
    h1{
        font-size: 12px;
    }
    h2 {
        margin-top: 25px;
    }
    p {
        font-size: 10px;
    }
    .game {
        width: 40vw;

    }
    .logo{
        height: 15vh;
    }
    .game-container {
        width: 100%;
        margin: auto 0;
    }
    .game-square{
        width: 6vh;
        height: 6vh;
    }
    .game-info {
        min-width: 0px;
        width: 25vw;
    }
    .reset-button{
        font-size: 12px;
    }
}