body {
    margin: 0;
}
header, footer{
    text-align: center;
    height: 120px;
    background-color: blue;
}

.player{
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 10px;
    padding: 4px;
}
.logo {
    height: 100%;
}
.game-square{
    width: 10vh;
    height: 10vh;
    background-color: yellow;
    margin: 3px;
    border-radius: 15px;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.game-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 8px auto;
}
.game-info{
    width: 20vw;
    min-width: 150px;
    background-color: #a4afc1;
    border-radius: 15px;
}
#game-board {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #a4afc1;
    border-radius: 15px;
    padding: 4px;
}